@using e_Clinic.DataAccess.Entities
@using e_Clinic.Models.ViewModels.DoctorViewModels
@using e_Clinic.Models.ViewModels.PatientViewModels
@{
    ViewData["Title"] = "Home Page Doctor";
}

<h1>Home Page Doctor</h1>
