@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-gradient {
    background: linear-gradient( -45deg, #2563eb, #172554 );
}

input {
    accent-color: theme(colors.teal.700);
}
    
h1 {
    text-align: center;
}