@{
    ViewData["Title"] = "Not Found";
}


<section class="container mx-auto p-6 w-3/4 flex justify-center">
    <div class="max-w-sm w-full bg-white shadow-lg rounded-lg p-6">
        <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path d="m10.5 1.3124c5.07328 0 9.1876 4.11432 9.1876 9.1876s-4.11432 9.1876-9.1876 9.1876-9.1876-4.11432-9.1876-9.1876 4.11432-9.1876 9.1876-9.1876zm-.9843 9.9782v-4.72874c0-.54211.4422-.9843.9843-.9843.54211 0 .9843.4463.9843.9843v4.72874c0 .538-.4422.9843-.9843.9843-.54211 0-.9843-.4422-.9843-.9843zm.98004 2.04c.61605 0 1.11568.49963 1.11568 1.1156 0 .61605-.49963 1.11568-1.11568 1.11568-.61597 0-1.1156-.49963-1.1156-1.11568 0-.61597.49963-1.1156 1.1156-1.1156z"></path>
            </svg>
            <h1 class="mt-2 text-xl font-semibold text-teal-800 uppercase">No staff members found</h1>
            <p class="mt-2 text-teal-600">Unfortunately, we couldn't find any staff members.</p>
        </div>
    </div>
</section>
