@{
    ViewData["Title"] = "Home Page";
}
<div class="container items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row ">
    @if (User.Identity is {IsAuthenticated: true })
    {
            <table class="table-auto mx-auto">
                <thead>
                <tr>
                    <th class="px-4 py-2 text-emerald-600">Type</th>
                    <th class="px-4 py-2 text-emerald-600">Value</th>
                </tr>
                </thead>
                <tbody>
                    @foreach(var claim in User.Claims)
                    {
                        <tr>
                            <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">@claim.Type</td>
                            <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
    }



    @*    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800" type="button">
        Dropdown button
        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
    </button>

    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-teal-100 rounded-lg shadow w-44 dark:bg-teal-700">
        <ul class="py-2 text-sm text-teal-700 dark:text-teal-200" aria-labelledby="dropdownDefaultButton">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-teal-100 dark:hover:bg-teal-600 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-teal-100 dark:hover:bg-teal-600 dark:hover:text-white">Settings</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-teal-100 dark:hover:bg-teal-600 dark:hover:text-white">Earnings</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-teal-100 dark:hover:bg-teal-600 dark:hover:text-white">Sign out</a>
            </li>
        </ul>
    </div> *@
</div>