<nav class="bg-white shadow md:flex md:items-center md:justify-start">
    <div class="flex px-12 py-2 z-[1000] bg-white relative justify-between items-center ">
        <span class="text-2xl font-[Poppins] cursor-pointer">
            <img class="h-14 inline"
                 src="~/icons/logo.svg" alt="e-Clinic logo"/>
        </span>
        <span id="top-menu-toggler" class="text-3xl cursor-pointer mx-2 md:hidden block">
            <img src="~/icons/menu.svg" alt="menu" class="w-10"/>
        </span>
    </div>
    <ul id="top-menu-items" class="py-4 z-[100] absolute bg-white w-full left-0 opacity-0 top-[-400px] transition-all ease-in duration-700 md:z-auto md:static md:flex md:flex-1 md:items-center md:justify-start md:w-auto md:py-0 md:pl-0 pl-7 md:opacity-100">
        <li class="mx-4 my-6 md:my-0">
            <a asp-controller="Home" asp-action="Index" class="block text-md uppercase text-teal-600 hover:text-teal-900 duration-50">Home</a>
        </li>
        <li class="mx-4 my-6 md:my-0 md:me-auto">
            <a asp-controller="Home" asp-action="Privacy" class="block text-md uppercase text-teal-600  hover:text-teal-900 duration-50">Privacy</a>
        </li>
        <partial name="~/Areas/Identity/Pages/Views/Shared/_LoginPartial.cshtml"/>
    </ul>
</nav>

