@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-xl mt-6 text-teal-700 uppercase text-center md:mt-0">
    @ViewData["Title"]
</h1>
<section >
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="mb-6">
            <label asp-for="Input.Email"
                   class="block mb-2 text-sm font-medium text-teal-900">Email</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-teal-700" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                    </svg>
                </div>
                <input asp-for="Input.Email" autocomplete="email"
                       class="bg-white py-4 border border-teal-700 text-teal-900 text-sm rounded focus:ring-teal-500 focus:border-teal-500 block w-full pl-10 p-2.5 ray-600"
                       placeholder="Email">
            </div>
            <span asp-validation-for="Input.Email" class="text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Input.Password"
                   class="block mb-2 text-sm font-medium text-teal-900">Password</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-teal-700" aria-hidden="true"
                          fill="currentColor" viewBox="0 0 24 24">
                            <path d="m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z"/>
                    </svg>
                </div>
                <input asp-for="Input.Password" autocomplete="password"
                       class="bg-white py-4 border border-teal-700 text-teal-900 text-sm rounded focus:ring-teal-500 focus:border-teal-500 block w-full pl-10 p-2.5 ray-600"
                       placeholder="Password">
            </div>
            <span asp-validation-for="Input.Password" class="text-red-500"></span>
        </div>
        <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                <input asp-for="Input.RememberMe" class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 rounded focus:ring-teal-500">
            </div>
            <label asp-for="Input.RememberMe" class="ml-2 text-sm font-medium uppercase text-teal-900 da">Remember me</label>
        </div>
        <button id="login-submit" type="submit" class="group relative h-10 w-full overflow-hidden rounded bg-teal-700 text-md tracking-wide uppercase text-white">
            Login
            <div class="absolute inset-0 h-full w-full scale-0 rounded transition-all duration-300 group-hover:scale-100 group-hover:bg-white/30"></div>
        </button>
        @* <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div> *@
    </form>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}